<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vijayjangid.aadharkyc">

    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="Water.WaterProviders"></activity>
        <activity android:name=".mobileRecharge.RechargePostpaid" />
        <activity android:name=".TransactionSummary" />
        <activity android:name=".mobileRecharge.ProviderActivity" />
        <activity android:name=".Notification" />
        <activity android:name=".AddCardObject" />
        <activity android:name=".kyc.Kyc" />
        <activity android:name=".InviteAndEarn" />
        <activity android:name=".ScanQrCode" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".DthRecharge" />
        <activity android:name=".InsurancePay" />
        <activity android:name=".ChoosePaymentOption" />
        <activity android:name="Water.Water_Bill_activity" />
        <activity android:name=".mobileRecharge.BrowsePlans" />
        <activity android:name=".z_selectSomething_alert" />
        <activity android:name=".z_state_choose_alert" />
        <activity android:name=".z_selectImageText" />
        <activity android:name="Electricity.ElectricityRecharge" />
        <activity android:name=".mobileRecharge.SelectOperator" />
        <activity android:name=".mobileRecharge.RechargePrepaid" />
        <activity android:name=".HomePage_activity" />
        <activity android:name=".Rate_activity" />
        <activity android:name=".login.Register_activity" />
        <activity android:name=".login.Login_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebPage_activity" />
        <activity android:name=".Add_money_activity" />
        <activity android:name=".MyProfile_fragment" />
        <activity android:name=".Change_password_fragment" />
        <activity android:name=".Help_support_fragment" />
        <activity android:name=".Verification_activity" />
        <activity android:name=".WalletManage" />
        <activity android:name=".activity.AppInProgressActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>