<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vijayjangid.aadharkyc">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DthRecharge" />
        <activity android:name=".InsurancePay" />
        <activity android:name=".ChoosePaymentOption" />
        <activity android:name=".Water_Bill_activity" />
        <activity android:name=".z_selBrowsePlans" />
        <activity android:name=".z_selectSomething_alert" />
        <activity android:name=".z_state_choose_alert" />
        <activity android:name=".z_selectImageText" />
        <activity android:name=".ElectricityRecharge" />
        <activity android:name=".z_selOperatorRecharge" />
        <activity android:name=".Recharge_mobile_activity" />
        <activity android:name=".HomePage_activity" />
        <activity android:name=".Register_activity" />
        <activity android:name=".Login_activity" />
        <activity android:name=".WebPage_activity" />
        <activity android:name=".GetUserData_activity" />
        <activity android:name=".Z" />
        <activity android:name=".Verification_activity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>