<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vijayjangid.aadharkyc">

    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".in.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.ForgetPassword"></activity>
        <activity android:name="Dmt.DmtMain" />
        <activity android:name="Aeps.AepsActivity" />
        <activity android:name="Aeps.AepsSettllementActivity" />
        <activity android:name="Aeps.MiniStatementActivity" />
        <activity android:name="Aeps.ViewPdfActivity" />
        <activity android:name="Reports.Ledger.ReportSearchActivity" />
        <activity android:name="FastTag.Providers" />
        <activity android:name="FastTag.Fastag" />
        <activity android:name="a2z_wallet.A2ZWalletActivity" />
        <activity android:name="Dth.Providers" />
        <activity android:name="Dth.DthRecharge" />
        <activity android:name="Insurance.Providers" />
        <activity android:name="Insurance.Insurance" />
        <activity android:name="Loan.Providers" />
        <activity android:name="Loan.LoanRecharge" />
        <activity android:name="Gas.Providers" />
        <activity android:name="Gas.GasRecharge" />
        <activity android:name="Water.WaterProviders" />
        <activity android:name="Electricity.ElecRecharge" />
        <activity android:name="MobRecharge.RechargePostpaid" />
        <activity android:name="MobRecharge.ProviderActivity" />
        <activity android:name=".Notification" />
        <activity android:name=".AddCardObject" />
        <activity android:name=".kyc.Kyc" />
        <activity android:name=".InviteAndEarn" />
        <activity android:name=".ScanQrCode" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".DthRecharge" />
        <activity android:name=".ChoosePaymentOption" />
        <activity android:name="Water.Water_Bill_activity" />
        <activity android:name="MobRecharge.BrowsePlans" />
        <activity android:name=".z_selectSomething_alert" />
        <activity android:name=".z_state_choose_alert" />
        <activity android:name=".z_selectImageText" />
        <activity android:name="MobRecharge.SelectOperator" />
        <activity android:name="MobRecharge.RechargePrepaid" />
        <activity android:name=".HomePage_activity" />
        <activity android:name=".Rate_activity" />
        <activity android:name=".login.Register_activity" />
        <activity android:name="Electricity.Providers" />
        <activity android:name=".login.Login_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebPage_activity" />
        <activity android:name=".Add_money_activity" />
        <activity android:name=".MyProfile_fragment" />
        <activity android:name=".Change_password_fragment" />
        <activity android:name=".Help_support_fragment" />
        <activity android:name=".Verification_activity" />
        <activity android:name=".WalletManage" />
        <activity android:name=".activity.AppInProgressActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>